services:
  generator:
    build:
      dockerfile: ./src/Dockerfile
      context: .
    environment:
      - GENERATORS=python,python_betterproto,go,ts_proto
      - GENERATOR_GO_ARGS=--go-grpc_out=/local/out/petshop/go --go_opt=paths=source_relative --go-grpc_opt=paths=source_relative
      - GENERATOR_TS_PROTO_ARGS=--ts_proto_opt=esModuleInterop=true
    volumes:
      - ./specs:/local/src:ro
      - ./out:/local/out
